<br>
<div align="center">
<h1>くじ結果</h1><br>

<% @entrys.each.with_index(1) do |e,idx|%>
	<%if e.join_flag==1%>
	<%=e.name%> - <%=e.draw_no%><br/>
	<%end%>
<%end%>

<h1>まだくじを引いてないメンバー</h1><br>
<% @entrys.each.with_index(1) do |e,idx|%>
	<%if e.join_flag!=1%>
	<%=e.name%><br/>
	<%end%>
<%end%>
</div>

