<script type="text/javascript">
	function draw_check(){
		alert("割り当てが完了しました");
	}
</script>

<div align="center"><br>
	<h1>お掃除抽選アプリ</h1><br>
	<h2>管理者メニュー</h2><br>
	<%= button_tag type: 'button', onclick: "draw_check();location.href='#{draw_master_draw_path}';" do %>
		<%= "抽選ナンバー割り当て"  %>
	<% end %>
	<br>
	※ボタン押下で”割り当てが完了しました”というポップアップ表示。<br>
	データベースに登録されている人のdraw_noの値がランダムに割り当てられる<br><br>
	<%= button_tag type: 'button', onclick: "location.href='#{draw_master_draw_result_path}'" do %>
		<%= "抽選実行"  %>
	<% end %>
	<br>
	※ボタン押下で結果がポップアップ表示<br>
	さらに該当者にメールが送信される<br>
</div>



