<div align="center"><br>
	<h1>お掃除抽選アプリ</h1><br>
	<h2>お掃除抽選エントリー</h2><br>
	<p>エントリー完了！！</p>
	<p>今日の<%= session[:name] %>さんの抽選ナンバーは</p><br>
	<font size="7"><%= session[:draw_no] %></font>です。<br>
	<p>結果発表は本日１５：３０です。発表まで少々お待ちください。</p>
	<%= link_to "トップへ戻る", draw_user_index_path %>
</div>