<div align="center"><br>
	<h1>お掃除抽選アプリ</h1><br>
	<h2>エントリー確認画面</h2><br>
	<p>既にエントリーは完了しております</p>
	<p>本日の<%= session[:name] %>さんの抽選ナンバーは</p><br>
	<font size="7"><%= session[:draw_no] %></font>です。<br>
	<p>結果発表は１５：３０頃です。発表まで少々お待ちください。</p>
	<%= button_tag type: 'button', onclick: "location.href='#{root_path}'" do %>
		<%= "トップに戻る"  %>
	<% end %>
</div>
