<div align="center"><br>
	<h1>お掃除抽選アプリ</h1><br>
	<h2>お掃除抽選エントリー</h2><br>
	<%= button_tag type: 'button', onclick: "location.href='#{draw_user_result_path}'" do %>
		<%= "本日の抽選ナンバーを引く"  %>
	<% end %><br><br>
</div>


