<div align="center"><br>
	<h1>お掃除抽選アプリ</h1><br>
	<h2>トップ画面</h2>	<br>
	<%= form_tag('/draw/user_show') do %>
	<font size="5">名前選択</font>

	<%= select_tag 'entry[id]', options_for_select(@entry.map{ |entry| [entry.name, entry.id]}) %>
	
	<%= submit_tag "ログイン" %><br><br><br><br>
	<% end %>
	<div id="lecture">
	<table>
	<tr><td>お掃除抽選方法説明</td></tr>
	<tr><td>①上の名前選択プルダウンメニューから自分の名前を選択し、ログインします</td></tr>
	<tr><td>②お掃除抽選画面で番号を引くボタンを押します</td></tr>
	<tr><td>③抽選ナンバー表示画面で自分の抽選ナンバーを確認しましょう<br>
	<tr><td>④結果は15:30頃発表予定です</td></tr>
	</table>
	</div>
</div>


